<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBookShopService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2233/BookShopService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookShopService"
        contract="ServiceReference.IBookShopService" name="BasicHttpBinding_IBookShopService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="BookShopDb"
         connectionString="Data Source=stepbookshop.database.windows.net;Initial Catalog=BookShop;Persist Security Info=True;User ID=stepbookshop;Password=Qwerty1-;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>